@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Poppins:wght@400;600&family=Codec+Pro&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffded9;
  margin: 0;
  padding: 0;
  color: #474544;
}

#app {
  background-color: #ffded9;
}

h1, h2 {
  font-family: "Crimson Text", serif;
  text-align: left;

}

@media (max-width: 768px) {
  .products {
    flex-direction: column;
    padding: 20px;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero {
    padding: 30px;
  }
}